.summer {
  background-size: cover;
  height: 700px;
  color: white;
}

.winter {
  background-size: cover;
  height: 700px;
  color: white;
}

.monsoon {
  background-size: cover;
  height: 700px;
  color: white;
}
